
.item{
    margin-top: 16px;
    font-size: 40px;
    color:#fff;
    text-align: center;
    height: 150px;
    line-height: 380px;
    background-color: orange;
}

.items{
    margin-top: 16px;
    font-size: 40px;
    color:#333;
    text-align: center;
    height: 380px;
    line-height: 380px;
    background-color: burlywood;
}